@(failed: FailedMilkTransaction, farmers: List[Farmer], user: User)

@import helper._

@main("Nikki Farmer Management System") {
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Nikki Farmers Management</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        @if(user.role == "union") {
                            <li><a href="/unions">Unions</a></li>
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }
                        @if(user.role == "cooperative") {
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="/addMilktransaction">Milk Delivery</a></li>
                    <li><a href="/addFailedMilktransaction">Rejected Milk delivery</a></li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li><a href="@routes.MUnionController.addUnionIndex()">Add Union</a></li>
                    <li><a href="@routes.CooperativeController.addCooperativeIndex()">Add Cooperative</a></li>
                    <li><a href="@routes.FarmerController.addFarmerIndex()">Add Farmer</a></li>
                </ul>

            </div>

            <div class="container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <form class="form" action="@routes.MilkTransactionController.editFailedMilkTransaction(failed.transactionId)" method="post">

                    <div class="form-group">

                        <label class="sr-only" for="inputFarmer">Farmer Name</label>
                        <select class="form-control" name="inputFarmer" >
                        @for(farmer <- farmers) {
                            <option value="@farmer.farmerId">@farmer.firstName @farmer.lastName</option>
                        }
                </select>

                </div>

                <div class="form-group">

                    <label class="sr-only" for="inputReason">reason</label>
                    <input type="text" class="form-control" name="inputReason" value="@failed.reason" placeholder="Reason for rejection">

                </div>

        <div class="form-group">

            <label for="dtp_input1" class="sr-only">DateTime Picking</label>
            <div class="input-group date form_datetime col-md-5" data-date="" data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
                <input class="form-control" size="16" type="text" name="inputDateTime" placeholder="Date and Time" value="@failed.date" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>

        </div>

        <script>
        $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
        });
        </script>

        <button type="submit" class="btn btn-primary">Save</button>

        </form>
        </div>
            </div>
            </div>
}