@(user: User, failedDeliveries: List[FailedMilkTransaction])

@import helper._
@import org.joda.time.format.DateTimeFormat

@main("Nikki Farmers Management System") {
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Nikki Farmers Management</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        @if(user.role == "union") {
                            <li><a href="/unions">Unions</a></li>
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }
                        @if(user.role == "cooperative") {
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="/addMilktransaction">Milk Delivery</a></li>
                    <li><a href="/addFailedMilktransaction">Rejected Milk delivery</a></li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li><a href="@routes.MUnionController.addUnionIndex()">Add Union</a></li>
                    <li><a href="@routes.CooperativeController.addCooperativeIndex()">Add Cooperative</a></li>
                    <li><a href="@routes.FarmerController.addFarmerIndex()">Add Farmer</a></li>
                </ul>

            </div>

            <div class="container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <table id="farmerTable" class="table table-responsive table-striped">

                    <thead>

                        <tr data-row-key="1">

                            <th data-field="id">Delivery Id</th>

                            <th>Reason</th>

                            <th>Farmer</th>

                            <th>Cooperative</th>

                        </tr>

                    </thead>

                    <tbody>

                    @defining(DateTimeFormat.forPattern("yyy-MM-dd HH:mm")) { dateFormatter =>
                    @for(delivery <- failedDeliveries) {
                        <tr>

                            <td>@delivery.transactionId</td>

                            <td>@delivery.farmer.firstName @delivery.farmer.lastName</td>

                            <td>@delivery.cooperative.cooperativeName</td>

                            <td>@delivery.reason</td>

                            <td>@dateFormatter.print(delivery.date)</td>

                            <!-- Fixa detta

                            -->

                            <td>@form(routes.MilkTransactionController.deleteFailedMilkTransaction(delivery.transactionId)) {
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            }
                        </tr>
                    }
                    }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}