@(farmers: List[Farmer], cooperatives: List[Cooperative], user: User)

@import helper._

@main("Nikki Farmers Management System") {

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Nikki Farmers Management</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        @if(user.role == "union") {
                            <li><a href="/unions">Unions</a></li>
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }
                        @if(user.role == "cooperative") {
                            <li><a href="/cooperatives">Cooperatives</a></li>
                            <li><a href="/farmers">Farmers</a></li>
                        }

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="/addMilktransaction">Milk Delivery</a></li>
                    <li><a href="/addFailedMilktransaction">Rejected Milk delivery</a></li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li><a href="@routes.MUnionController.addUnionIndex()">Add Union</a></li>
                    <li><a href="@routes.CooperativeController.addCooperativeIndex()">Add Cooperative</a></li>
                    <li><a href="@routes.FarmerController.addFarmerIndex()">Add Farmer</a></li>
                </ul>

            </div>

    <div class="container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <table id="farmerTable" class="table table-responsive table-striped">

        <thead>

            <tr data-row-key="1">

                <th data-field="id">Farmer Id</th>

                <th>First Name</th>

                <th>Last Name</th>

                <th>Phone Number</th>

                <th>Account Number</th>

                <th>Sex</th>

                <th>Number of cattle</th>

                <th>Cooperative</th>

            </tr>

        </thead>

        <tbody>
        @for(farmer <- farmers) {
            <tr>

                <td>@farmer.farmerId</td>

                <td>@farmer.firstName</td>

                <td>@farmer.lastName</td>

                <td>@farmer.phoneNumber</td>

                <td>@farmer.accountNumber</td>

                <td>@farmer.sex</td>

                <td>@farmer.amountCows</td>

                <td>@farmer.cooperative.cooperativeName</td>

                <td>@form(routes.FarmerController.getFarmer(farmer.farmerId)) {
                    <button type="submit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                }</td>

                <td>@form(routes.FarmerController.deleteFarmer(farmer.farmerId)) {
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                }</td>


            </tr>
        }
        </tbody>
    </table>

    </div>
    </div>
    </div>
}