
@(title: String)(content: Html)
@import helper._

<!DOCTYPE html>

<html>
    <head>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="@routes.Assets.at("js/main.js")"></script>

        <script type="text/javascript" src="@routes.Assets.at("js/bootstrap-datetimepicker.min.js")"></script>
    </head>



    <body>
    @content
    </body>

</html>
