
@(title: String)(content: Html)
@import helper._

<!DOCTYPE html>

<html>
    <head>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/custom.css")">

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </head>

    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Nikki Farmers Management</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/unions">Unions</a></li>
                        <li><a href="/cooperatives">Cooperatives</a></li>
                        <li><a href="/farmers">Farmers</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@routes.Application.login()">Login</a></li>
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <body>
    @content
    </body>


</html>
